<html>

<head>
  <title>Todo List</title>
  <script src="/js/libs/jquery-1.12.4.js"></script>
  <script src="/js/libs/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/styles.css" type="text/css">

</head>

<body>
  <h1>Siemens Logo</h1>

  <div id="todo-table">

    <div class="input-group mb-3" id="inputGroupSelectPLCWithBtn">
      <select class="custom-select" id="inputGroupSelectPLC">
        <option selected>Choose PLC to connect...</option>
      </select>
      <div class="input-group-append" id="btnConnectPLC">
        <label class="input-group-text" id="btnTxtConnectPLC" for="inputGroupSelectPLC">Connect</label>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-3">
        <h2>PLC Inputs:</h2>
        <p id="all-inputs"></p>
      </div>

      <br class="clearBoth">

      <div class="col-sm-3">
        <h2>PLC Outputs:</h2>
        <p id="all-outputs"></p>
      </div>

      <br class="clearBoth">

      <div class="col-sm-4">
        <h2>PLC Merkers:</h2>
        <p id="all-merkers"></p>
      </div>
    </div>


    <br class="clearBoth">
    <p state-color="111" id="tickTac">test</p>
    <br>

    <svg width="300" height="300">
      <circle state-color="111" id="tickTac3" cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
      <circle state-color="111" id="circle2" cx="75" cy="75" r="14" stroke="green" stroke-width="4" fill="yellow" />
    </svg>

  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>