<html>

<head>
  <title>Todo List</title>
  <script src="/js/jquery-1.12.4.js"></script>
  <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>

<body>
  <h1>My Todo List</h1>

  <div id="todo-table">
    <form>
      <input id="m" type="text" name="item" placeholder="Add new item..." required>
      <button type="submit">Add Item</button>
    </form>

    <p>
      <% for(var inputByte in plcData){  %>
        <% for(var bit = 0; bit < 7; bit++){  %>
          <div class="indicator inline" state-color="<%= plcData[inputByte][bit] %>"></div>
          <% }; %>
            <br class="clearBoth">
            <% }; %>
    </p>

    <br class="clearBoth">
    <p state-color="111" id="tickTac">test</p>
    <br>
    <p state-color="1">Lorem 1</p>
    <p state-color="2">Lorem 2</p>
    <p state-color="3">Lorem 3</p>
    <p state-color="4">Lorem 4</p>
    <p state-color="5">Lorem 5</p>
    <p state-color="6">Lorem 6</p>



    <svg width="300" height="300">
      <circle state-color="111" id="tickTac3" cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
      <circle state-color="111" id="circle2" cx="75" cy="75" r="14" stroke="green" stroke-width="4" fill="yellow" />
    </svg>

  </div>
  <script src="/socket.io/socket.io.js"></script>

  <script>    
    $(function () {
      var socket = io.connect();
      var indicators = document.getElementsByClassName("indicator");       

      $('form').submit(function () {
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });

      socket.on('test1', function (plcData) {
        //document.getElementById("tickTac").innerHTML = plcData.I20[1];
        //document.getElementById("tickTac").setAttribute("state-color", plcData.I20[1]);

        //console.log(indicators.length);
          var index = 0;
          for (var inputByte in plcData) {
            for (var bit = 0; bit < 7 ; bit++) {
              indicators[index].setAttribute("state-color", plcData[inputByte][bit]);
              index++;
            }
          }
        

        // change color of html tag
        //=================================================================================
        // for information (deprecated solution)
        // const stateColorText = {
        //   '1': 'teal-text',
        //   '2': 'green-text',
        //   '3': 'red-text',
        //   '4': 'yellow-text',
        //   '5': 'brown-text'
        // };
        //=================================================================================

      });
    });
  </script>

</body>

</html>